*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
.gameContainer{
    display: grid;
    justify-content: center;


}
.mazeDiv{
    height: 40px;
    width: 90vh;
    border: 2px solid red;

}